@import "../../styles/index";

.chat-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
    width: calc(100% - #{2 * $size-wrapper-margin});
    margin: 0 auto;
    animation: fadeIn 2s;

    &__singOut {
        width: 30%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 8px;
    }

    &__title {
        @include type($font-size: 2.4rem, $font-weight: 700);
        flex: 0 0 auto;
        margin: 24px 0;
        text-align: center;
    }

    &__message-list {
        flex: 1 1 auto;
        overflow-y: auto;
        flex-grow: 1;
    }

    &__message-list-item {
        margin-bottom: 8px;
        animation: fadeIn 2s;
        width: 50%;
        background-color: $color-theme;
        @include shape("rounded-border");
        word-wrap: break-word;

        &:hover {
            border: 1px solid black;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__form {
        flex: 0 0 auto;
        margin: 16px 0;
    }

    &__error {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 70px;
        height: 70px;
        animation: scaleLoading 2s;
        color: red;
    }

    &__loading {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 70px;
        height: 70px;
        animation: scaleLoading 2s;
        color: darkgreen;
    }
}

@media screen and (min-width: 800px) {
    .chat-page {
        background-image: url("../../../public/backgroundphoto.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        border: 2px solid black;
        animation: slideUp500 1s forwards;
        &__form {
            margin: 8px;
        }
        &__message-list-item {
            display: flex;
            margin: auto;
            margin-bottom: 8px;
            width: 80%;
            word-wrap: break-word;
        }
        &__singOut {
            width: 50px;
        }
    }
}
@media screen and (max-width: 800px) {
    .chat-page {
        background-image: url("../../../public/carphoto.jpg");
        background-position: center, center;
        background-size: 100%;
        background-repeat: no-repeat;
        border: none;
        animation: slideUp750 1s forwards;
        &__message-list-item {
            display: flex;
            margin: auto;
            margin-bottom: 8px;
            width: 80%;
            word-wrap: break-word;
        }
        &__singOut {
            width: 50px;
        }
    }
}
