@import "../../styles/index";

.button {
    @include type($font-weight: 700);
    @include shape('rounded');
    display: block;
    height: 40px;
    width: 100%;
    padding: 0 16px;
    background-color: $color-theme;
    color: $color-theme-inverted;
    text-align: center;
}