@import "../../styles/index";

.button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: $color-theme;

    &:hover {
        border: 2px solid black;
    }
}

.button.button--text {
    @include type($font-weight: 700);
    @include shape("rounded");
    width: 100%;
    padding: 0 16px;
    color: $color-theme-inverted;
    text-align: center;

    &:hover {
        @include type($font-family: 5rem, $font-weight: 700);
        font-size: large;

        animation: scaleButton 1s;
    }
}

.button.button--icon {
    @include shape("round");
    width: 40px;

    path {
        fill: $color-theme-inverted;
    }

    &:hover {
        animation: scaleButton 1s;
        border: 1px solid green;

        path {
            fill: darkgreen;
        }
    }
}
