@import "../../styles/index";

.join-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 240px;
    width: 100%;
    margin: 15px auto;
    animation: fadeIn 2s;
    background-image: url("../../../public/carphoto.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    &__title {
        @include type($font-size: 2.4rem, $font-weight: 700);
        text-align: center;
        margin-bottom: 32px;
        display: block;
        width: 100%;
    }

    &__form {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .join-page {
        max-width: 400px;
        border: 1px solid black;
        animation: slideUp500 2s forwards;

        &__form {
            max-width: 240px;
        }
    }
}
@media screen and (max-width: 800px) {
    .join-page {
        margin-top: 20px;
        animation: slideUp750 2s forwards;
    }
}
